@import 'tailwindcss';
@plugin 'tailwindcss-react-aria-components';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Настраиваем поддержку светлой и темной темы */
  color-scheme: light dark;
  color: #e5e7eb; /* Светло-серый текст для темной темы */
  background-color: #111827; /* Очень темный фон для темной темы */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
    width: 100%;
}

/* Стили для светлой темы */
@media (prefers-color-scheme: light) {
  :root {
    color: #1f2937; /* Темно-серый текст */
    background-color: #f9fafb; /* Очень светло-серый фон */
  }
}